@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.flex-center {
  @apply flex items-center justify-center;
}

.test-red {
  @apply border-2 border-red-500;
}

.test-blue {
  @apply border-2 border-blue-500;
}

.test-green {
  @apply border-2 border-green-500;
}

.test-purple {
  @apply border-2 border-purple-500;
}

.test-yellow {
  @apply border-2 border-yellow-500;
}

.test-pink {
  @apply border-2  border-pink-500;
}

.test-orange {
  @apply border-2 border-orange-500;
}

.test-indigo {
  @apply border-2 border-gray-500;
}

.test-black {
  @apply border-2 border-black;
}

.shadow-neumorphic {
  @apply shadow-[5px_5px_30px_rgba(190,190,190,0.15),-5px_-5px_30px_rgba(255,255,255,0.15)];
}
